<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text">This page shows a number of transaction details.</p>
    <a class="btn btn-primary" routerLink="/navigator">See transactions</a>
  </div>
  <div class="card-footer text-muted">
    You have {{numOfAllTransactions}} transactions
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{numOfIncome}}</h5>
        <p class="card-text">Income</p>
        <a class="btn btn-primary" routerLink="/navigator" [queryParams]="{tab:0}">See all</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{numOfInvestments}}</h5>
        <p class="card-text">Investments</p>
        <a href="#" class="btn btn-primary" routerLink="/navigator" [queryParams]="{tab:3}">See all</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{numOfOutcome}}</h5>
        <p class="card-text">Outcome</p>
        <a href="#" class="btn btn-primary" routerLink="/navigator" [queryParams]="{tab:1}">See all</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{numOfLoans}}</h5>
        <p class="card-text">Loans</p>
        <a href="#" class="btn btn-primary" routerLink="/navigator" [queryParams]="{tab:2}">See all</a>
      </div>
    </div>
  </div>
</div>
