<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('income')" [class.active]="currentTab == 'income'">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('outcome')" [class.active]="currentTab == 'outcome'">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('loans')" [class.active]="currentTab == 'loans'">Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('investments')" [class.active]="currentTab == 'investments'">Investments</a>
  </li>
</ul>

<div [ngSwitch]="currentTab">
  <table class="table" *ngSwitchCase="'income'">
    <thead>
      <tr>
        <th scope="col">Income</th>
        <th scope="col">Income</th>
        <th scope="col">Income</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Income</td>
        <td>Income</td>
        <td>Income</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'outcome'">
    <thead>
      <tr>
        <th scope="col">Outcome</th>
        <th scope="col">Outcome</th>
        <th scope="col">Outcome</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Outcome</td>
        <td>Outcome</td>
        <td>Outcome</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'loans'">
    <thead>
      <tr>
        <th scope="col">Loans</th>
        <th scope="col">Loans</th>
        <th scope="col">Loans</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Loans</td>
        <td>Loans</td>
        <td>Loans</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'investments'">
    <thead>
      <tr>
        <th scope="col">Investments</th>
        <th scope="col">Investments</th>
        <th scope="col">Investments</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Investments</td>
        <td>Investments</td>
        <td>Investments</td>
      </tr>
    </tbody>
  </table>
</div>
