<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('income')" [class.active]="currentTab == 'income'">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('outcome')" [class.active]="currentTab == 'outcome'">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('loans')" [class.active]="currentTab == 'loans'">Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('investments')" [class.active]="currentTab == 'investments'">Investments</a>
  </li>
</ul>

<div [ngSwitch]="currentTab">
  <table class="table" *ngSwitchCase="'income'">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let income of income">
        <td>{{income.name.first}} {{income.name.last}}</td>
        <td>{{income.amount}}</td>
        <td>{{income.company}}</td>
        <td>{{income.phone}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'outcome'">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let outcome of outcome">
        <td>{{outcome.name.first}} {{outcome.name.last}}</td>
        <td>{{outcome.amount}}</td>
        <td>{{outcome.company}}</td>
        <td>{{outcome.phone}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'loans'">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let loan of loans">
        <td>{{loan.name.first}} {{loan.name.last}}</td>
        <td>{{loan.amount}}</td>
        <td>{{loan.company}}</td>
        <td>{{loan.phone}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngSwitchCase="'investments'">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let investment of investments">
        <td>{{investment.name.first}} {{investment.name.last}}</td>
        <td>{{investment.amount}}</td>
        <td>{{investment.company}}</td>
        <td>{{investment.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
